%table#transactions
  %thead
    %tr
      %th=t "transactions.index.table.head.title"
      %th=t "transactions.index.table.head.amount"
      %th=t "transactions.index.table.head.occurred_date"
      %th=t "transactions.index.table.head.account"
      %th=t "transactions.index.table.head.tags"

  %tbody
    - @transactions.each do |transaction|
      %tr{:class => cycle('odd', 'even') }
        %td.title=transaction.title
        %td.amount=number_to_currency transaction.amount
        %td.occurred_date=l transaction.occurred_date
        %td.account=transaction.account.name unless transaction.account.nil?
        %td.tags=transaction.tag_list
    -
