%h1
  = t "transactions.account.title", :name => "foo"


- if @transactions.present?
  %ul#transactions
    - @transactions.each do |transaction|
      %li
        %span#title=transaction.title
        %span#amount=transaction.amount
        %span#account=transaction.account.name
    -
- else
  = t("transactions.account.no_transaction")
-
