%h1 
  = t "transactions.index.title" 
%p#explanation
  = t "transactions.index.explanation" 

%ul#transactions
  - @transactions.each do |transaction|
    %li
      %span#title=transaction.title 
      %span#amount=transaction.amount 
  -
#actions
  %p
    = link_to t("transactions.new.href") , new_transaction_path 


