%h1
  = t "transactions.index.title"

%p.explanation
  = t "transactions.index.explanation"

= render "transactions", :locals => { :accounts => @accounts }

#actions
  %p
    = link_to t("transactions.new.href") , new_transaction_path
