<!DOCTYPE html>
<html>
<head>
  <title>Budgeter</title>
  <%= stylesheet_link_tag :flutie , "base"  %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="main">
      <%= yield %>
    </div> 
  </div>
  <%= javascript_include_tag :all %>
</body>
</html>
